

#BarrePrincipale
{
    overflow :visible;
}

#Darkmode
{
    margin-top: 50px;
}

#Milieu
{
    background-color: var(--fond1);
    padding: 40px 16px 30px 16px;
}

.Sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}

.Sticky + #Milieu
{
    padding-top: 100px;
}

.SousBoites button
{
    background-color: transparent;
    color: var(--eceText);
    height: 60px;
    z-index: 1;
    border: solid;
    cursor: pointer;
}

.SousBoites button:hover
{
    background: #013d42!important;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.SousBoites input
{
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: var(--fond1);
    color: var(--textSousText);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-floating
{
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: var(--fond1);
    color: var(--textSousText);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SousBoites input:focus
{
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: var(--fond1);
    color: var(--textSousText);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}