#Toutenhaut a
{
    text-decoration: none;
}


#Milieu
{
    padding: 60px 0;
    background-color: var(--fond1);
    color: var(--textBase);
}

#Wrapper header.fixed+#Milieu
{
    margin-top: 80px;
}
.Boites
{
    width:80%;
    height:auto;
}

.SousBoites
{
    text-align: center;
    z-index:-1;
}

.Boites, .SousBoites
{
    margin:auto;
    background-color: var(--fond2);
    padding: 10px 25px;
    border: solid;
    border-color: rgba(226, 232, 240, 0);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#Milieu h1
{
    color: var(--eceText);
    font-size: xx-large;
    font-weight: bold;
}

#Milieu p
{
    color: var(--textBase);
    font-size: large;
}

#CarrouselSpecialistes button
{
    background-color: #013d4286;
    height: 50px;
    width: 50px;
    top: 48%;
}

.carousel-inner h2
{
    background-color: var(--fond2);
    color: var(--textSousText);
}

.carousel-inner img
{
    object-fit: contain;
    aspect-ratio: 2/1;
    background-color: var(--fond2);
}

.CarrouselBandeRelou
{
    background-color: var(--fond2);
}