html, body {height:80%;margin:0;}

#Toutenhaut
{
    background-color: #333333;
    height: 90%;
    margin-bottom: 50px;
    padding-top: 10px;
    text-align: center;
}

.Precedent
{
    position: absolute;
    cursor: pointer;
    top: 250px;
    padding: 16px;
    color: white;
    font-size: 20px;
    user-select: none;
    left: 0;
}

.Suivant
{
    position: absolute;
    cursor: pointer;
    top: 250px;
    padding: 16px;
    color: white;
    font-size: 20px;
    user-select: none;
    right: 0;
}

.Precedent:hover, .Suivant:hover
{
    background-color: #013d4286;
}

.LegendeCaroussel
{
    color: whitesmoke;
    position: absolute;
    background-color: #252526e0;
    padding: 10px;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.Carrousel
{
    display: none;
    height: 90%;
}

.Carrousel img
{
    height: 100%;
}

#LesPoints
{
    text-align: center;
    position: relative;
    top: -82px;
}

.Point
{
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.active, .Point:hover
{
    background-color: whitesmoke;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#Wrapper
{
    margin-top: -80px;
}

#Wrapper header
{
    height: 80px;
    background-color: #266b6b;
    color: white;
}

#Wrapper header.fixed
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#BarrePrincipale
{
    display: flex;
}

#BarrePrincipale img
{
    margin: 15px;
}

#Navigation
{
    background-color: white;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#Navigation button
{
    background-color: transparent;
    color: #013d42;
    height: 60px;
    padding: 16px;
    z-index: 1;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
}

#Navigation button:hover
{
    background: #013d42!important;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#BarreRecherche
{
    width: 310px;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 10px;
    float: inline-end;
}

#search
{
    border-radius: 8px;
    display: flex;
    height: 60px;
    min-width: 60px;
    width: 100%;
    background-color: white;
}

#Recherche
{
    flex: 11 0 0;
    text-align: right;
    width: 200px;
    display: block;
    position: relative;
    border-radius: 8px 0 0 8px;
}

#Recherche button
{
    background: white;
    border-radius: 0 8px 8px 0;
    color: #013d42;
    height: 60px;
    padding: 16px;
    z-index: 1;
    border: none;
    cursor: pointer;
}

#Recherche button:hover
{
    background: #013d42!important;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#Recherche input
{
    border: none;
    height: 60px;
    line-height: 16px;
    outline: none;
    box-sizing: border-box;
}

#Milieu
{
    padding: 60px 0;
    background-color: #252526;
    color: lightgrey;
}

#Wrapper header.fixed+#Milieu
{
    margin-top: 80px;
}

#Milieu div
{
    width:80%;
    height:1500px;
    margin:auto;
    border:solid;
}


#Footer
{
    background-color: #013d42;
    color: white;
    text-align: center;
    padding: 5px;
}