:root
{
    --textBase : #222;
    --textSousText: #262626;
    --fond1: white;
    --fond2: whitesmoke;
    --ece: #266b6b;
    --ece2: #013d42;
    --eceText: #013d42;
    --pointActif: #717171;
    --pointInactif: #bbbbbb;
}

:root.dark
{
    --textBase : white;
    --textSousText: whitesmoke;
    --fond1: #252526;
    --fond2: #333333;
    --ece: #266b6b;
    --ece2: #013d42;
    --eceText: #339191;
    --pointActif: whitesmoke;
    --pointInactif: grey;
}

#Darkmode
{
    position: absolute;
    right: 10px;
    top:15px;
    background-color: var(--ece2);
    padding: 15px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

#Darkmode button
{
    background-color: transparent;
    border: none;
    font-size: xx-large;
    margin: -10px;
    color: var(--fond2);
}

#Wrapper header
{
    height: 80px;
    background-color: var(--ece);;
    color: var(--fond1);;
}

#BarrePrincipale
{
    overflow :visible;
}

#Milieu
{
    background-color: var(--fond1);
    padding: 40px 16px 30px 16px;
}

.Sticky
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index : 10;
}

.Sticky + #Milieu
{
    padding-top: 100px;
}
#boite
{
    display: flex;
}

#infos
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    background-color: var(--fond1);
    color: var(--eceText);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width:35%;
}

#Services
{
    text-align: center;
    background-color: transparent;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 65%;
}

#Services button
{
    padding: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
